* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: hsl(255, 11%, 22%);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  height: 85px;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 0 250px;
  align-items: center;
  justify-content: space-between;
}

#logo-nav {
  display: flex;
  flex-direction: row;
  gap: 45px;
}
#logo-nav h2 {
  color: hsl(255, 11%, 22%);
  font-size: 40px;
}
#logo-nav nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
#logo-nav nav a {
  text-decoration: none;
  font-size: 20px;
  color: hsl(257, 7%, 63%);
  font-weight: 700;
  letter-spacing: 1px;
  transition: color 0.2s ease-in-out;
}
#logo-nav nav a:hover {
  color: hsl(257, 27%, 26%);
}

#usuario-entrada {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
}
#usuario-entrada a {
  text-decoration: none;
  font-size: 20px;
  color: hsl(257, 7%, 63%);
  font-weight: 700;
  letter-spacing: 1px;
}
#usuario-entrada a:nth-child(1) {
  transition: color 0.2s ease-in-out;
}
#usuario-entrada a:nth-child(1):hover {
  color: hsl(257, 27%, 26%);
}
#usuario-entrada a:nth-child(2) {
  background-color: hsl(180, 66%, 49%);
  padding: 7px 18px;
  border-radius: 50px;
  color: white;
  transition: background-color 0.2s ease-in-out;
}
#usuario-entrada a:nth-child(2):hover {
  background-color: hsl(180, 66%, 65%);
}

#seccion-principal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0 0 250px;
  overflow: hidden;
  width: 100%;
}
#seccion-principal img {
  position: relative;
  right: -70px;
}

#texto {
  display: flex;
  flex-direction: column;
  width: 33%;
  min-width: 550px;
}
#texto #titulo {
  font-size: 70px;
  font-weight: 800;
  line-height: 80px;
}
#texto #contenido {
  font-size: 20px;
  color: hsl(0, 0%, 75%);
  font-weight: 700;
  margin: 5px 0 30px 0;
}
#texto button {
  background-color: hsl(180, 66%, 49%);
  padding: 7px 18px;
  border-radius: 50px;
  color: white;
  transition: background-color 0.2s ease-in-out;
  border: none;
  font-weight: 800;
  letter-spacing: 1px;
  font-size: 20px;
  cursor: pointer;
  width: 200px;
}
#texto button:hover {
  background-color: hsl(180, 66%, 65%);
}

#contenedor-fondo-color {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
  background-color: #f0f1f6;
}

#seccion-input {
  background-image: url("../images/bg-shorten-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: hsl(257, 27%, 26%);
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100vw - 500px);
  height: 20vh;
  border-radius: 15px;
  position: relative;
  margin-top: -100px;
}

#contenedor-input-btn {
  width: 95%;
  display: flex;
  gap: 40px;
  height: -moz-fit-content;
  height: fit-content;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#contenedor-input-btn input {
  border: none;
  outline: none;
  height: 60px;
  border-radius: 10px;
  width: 80%;
  padding: 0 30px;
  font-size: 20px;
}
#contenedor-input-btn button {
  background-color: hsl(180, 66%, 49%);
  padding: 7px 18px;
  border-radius: 10px;
  color: white;
  transition: background-color 0.2s ease-in-out;
  border: none;
  font-weight: 800;
  letter-spacing: 1px;
  font-size: 20px;
  cursor: pointer;
  height: 100%;
  width: 15%;
}
#contenedor-input-btn button:hover {
  background-color: hsl(180, 66%, 65%);
}

.error {
  position: absolute;
  color: red;
  font-weight: 400;
  font-size: 20px;
  left: 4%;
  bottom: 15%;
  display: none;
}

#seccion-links-acortados {
  width: 100%;
  padding: 0 250px;
  height: -moz-fit-content;
  height: fit-content;
}
#seccion-links-acortados .contenedor-link-acortado {
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  height: 70px;
  background-color: white;
  border-radius: 10px;
}
#seccion-links-acortados .link-original {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
}
#seccion-links-acortados .resultado-copiar {
  display: flex;
  flex-direction: row;
  height: 100%;
  gap: 40px;
  align-items: center;
}
#seccion-links-acortados .resultado-copiar .link-acortado {
  font-size: 20px;
  color: hsl(180, 66%, 49%);
  font-weight: 700;
}
#seccion-links-acortados .resultado-copiar .btn-copiar {
  background-color: hsl(180, 66%, 49%);
  height: 70%;
  width: 80px;
  border-radius: 10px;
  border: none;
  color: white;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 1px;
  cursor: pointer;
}

#seccion-estadisticas-avanzadas {
  margin-top: 15vh;
  width: 100%;
  padding: 0 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#seccion-estadisticas-avanzadas h3 {
  text-align: center;
  font-size: 50px;
  margin-bottom: 10px;
}
#seccion-estadisticas-avanzadas h4 {
  text-align: center;
  font-size: 23px;
  color: hsl(0, 0%, 75%);
  width: 50%;
  margin-bottom: 20px;
  line-height: 35px;
  font-weight: 500;
}

#seccion-tarjetas {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 100%;
  gap: 30px;
}
#seccion-tarjetas hr {
  width: 60%;
  border: solid hsl(180, 66%, 49%) 4px;
  border-radius: 10px;
  position: absolute;
}
#seccion-tarjetas .contenedor-tarjeta {
  background-color: white;
  width: 20%;
  aspect-ratio: 4/3;
  position: relative;
  z-index: 10;
  padding: 30px;
}
#seccion-tarjetas .circulo {
  width: 80px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(257, 27%, 26%);
  position: absolute;
  top: -15%;
}
#seccion-tarjetas .titulo-tarjeta {
  margin: 40px 0 20px 0;
  font-size: 22px;
  letter-spacing: 1px;
}
#seccion-tarjetas p {
  letter-spacing: 1px;
  color: hsl(0, 0%, 75%);
  font-weight: 700;
  font-size: 17px;
  line-height: 25px;
}
#seccion-tarjetas .contenedor-tarjeta:nth-child(4) {
  margin-top: 100px;
}
#seccion-tarjetas .contenedor-tarjeta:nth-child(2) {
  margin-bottom: 100px;
}

#seccion-boost {
  width: 100%;
  height: 300px;
  background-image: url("../images/bg-boost-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: hsl(257, 27%, 26%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#seccion-boost h2 {
  font-size: 50px;
  font-weight: 800;
  color: white;
  letter-spacing: 1px;
  text-shadow: 4px 4px 4px black;
}
#seccion-boost button {
  background-color: hsl(180, 66%, 49%);
  padding: 7px 18px;
  border-radius: 40px;
  color: white;
  transition: background-color 0.2s ease-in-out;
  border: none;
  font-weight: 800;
  letter-spacing: 1px;
  font-size: 25px;
  cursor: pointer;
  margin-top: 30px;
}
#seccion-boost button:hover {
  background-color: hsl(180, 66%, 65%);
}

footer {
  width: 100vw;
  height: 30vh;
  background-color: hsl(260, 8%, 14%);
  display: flex;
  flex-direction: row;
  padding: 60px 250px 0 250px;
  justify-content: space-between;
}
footer h2 {
  font-size: 50px;
  text-shadow: 4px 4px 4px black;
  color: white;
}

#contenedor-nav-footer-redes {
  display: flex;
  flex-direction: row;
  gap: 120px;
}
#contenedor-nav-footer-redes nav {
  display: flex;
  flex-direction: row;
  gap: 60px;
}
#contenedor-nav-footer-redes nav .submenu {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
#contenedor-nav-footer-redes nav .submenu h4 {
  color: white;
  font-size: 20px;
}
#contenedor-nav-footer-redes nav .submenu a {
  color: hsl(0, 0%, 75%);
  text-decoration: none;
  transition: color 0.1s ease-in-out;
}
#contenedor-nav-footer-redes nav .submenu a:hover {
  color: hsl(180, 66%, 49%);
}

#contenedor-redes {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
#contenedor-redes svg {
  cursor: pointer;
}
#contenedor-redes svg path {
  width: 40px !important;
  height: 40px !important;
  transition: fill 0.1s ease-in-out;
}
#contenedor-redes svg:hover path {
  fill: hsl(180, 66%, 49%);
}

.attribution {
  display: none;
}/*# sourceMappingURL=index.css.map */